In [1]:
import glob
import pandas as pd

path =r'Homog_monthly_mean_temp (1)/' # use your path
allFiles = glob.glob(path + "/*.txt")

In [2]:
list_of_dfs = [pd.read_csv(allFiles, sep='delimiter', header=None) for allFiles in allFiles]

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
df = pd.concat(list_of_dfs, keys=allFiles).reset_index(level=1, drop=True).rename_axis('allFiles').reset_index()

In [4]:
df["code"] = df["allFiles"].str.split("/", 1, expand = True)[1]

In [5]:
df["code"] = df["code"].str.replace("mm", "").str.replace(".txt", "")

In [6]:
df.tail()

,allFiles,0,code
33122,Homog_monthly_mean_temp (1)/mm8504177.txt,"2013, -21.2, , -9999.9,M, -9999.9,M, -9999.9...",8504177
33123,Homog_monthly_mean_temp (1)/mm8504177.txt,"2014, -9999.9,M, -9999.9,M, -9999.9,M, -9999.9...",8504177
33124,Homog_monthly_mean_temp (1)/mm8504177.txt,"2015, -26.0, , -27.7,E, -16.6, , -6.9...",8504177
33125,Homog_monthly_mean_temp (1)/mm8504177.txt,"2016, -17.9, , -22.0,E, -17.2, , -8.7...",8504177
33126,Homog_monthly_mean_temp (1)/mm8504177.txt,"2017, -20.0,E, -19.9, , -16.7, , -5.6...",8504177

In [7]:
city_names = pd.read_excel('Temperature_Stations (1).xls')

In [8]:
city_names  = city_names.drop([0,1,2])

In [9]:
city_names_filtered = city_names[["Historical homogenized temperature stations for Canada - Updated to December 2017", "Unnamed: 1", "Unnamed: 2"]]

In [10]:
city_names_filtered.columns = ["Province", "City", "code"]

In [11]:
list(df.columns.values)

['allFiles', 0, 'code']

In [12]:
list(city_names_filtered.columns.values)

['Province', 'City', 'code']

In [13]:
city_names_filtered

    Province             City     code
3         BC          AGASSIZ  1100120
4         BC            ATLIN  1200560
5         BC      BARKERVILLE  1090660
6         BC       BEAVERDELL  1130771
7         BC      BELLA COOLA  1060841
8         BC    BLIND CHANNEL  1021480
9         BC       BLUE RIVER  1160899
10        BC       CAPE SCOTT  1031353
11        BC    CAPE ST JAMES  1051351
12        BC    CARIBOO LODGE  1171393
13        BC            COMOX  1021830
14        BC        CRANBROOK  1152105
15        BC          CRESTON  1142160
16        BC         DARFIELD  1162265
17        BC     DAWSON CREEK  1182289
18        BC       DEASE LAKE  1192341
19        BC    ESTEVAN POINT  1032730
20        BC         FAUQUIER  1142820
21        BC      FORT NELSON  1192946
22        BC    FORT ST JAMES  1092970
23        BC     FORT ST JOHN  1183001
24        BC        GERMANSEN  1183090
25        BC          GLACIER  1173191
26        BC           GOLDEN  1173210
27        BC      GRAND FORKS  1133270
28        BC         KAMLOOPS  1163781
29        BC            KASLO  1143900
30        BC          KELOWNA  1123993
31        BC          LANGARA  1054500
32        BC   MCINNES ISLAND  1065010
..       ...              ...      ...
311       NS        KENTVILLE  8202810
312       NS        LIVERPOOL  8203100
313       NS           NAPPAN  8203702
314       NS        PARRSBORO  8204402
315       NS     SABLE ISLAND  8204700
316       NS           SYDNEY  8205701
317       NS  UPPER STEWIACKE  8204193
318       NS         YARMOUTH  8206495
319       PE    CHARLOTTETOWN  8300301
320       PE       MONTICELLO  8300447
321       PE       SUMMERSIDE  8300700
322       NL   BATTLE HARBOUR  8502592
323       NL     BAY D'ESPOIR  8400413
324       NL       CARTWRIGHT  8501100
325       NL  CHURCHILL FALLS  8501131
326       NL     CORNER BROOK  8401300
327       NL  DANIELS HARBOUR  8401400
328       NL        DEER LAKE  8401502
329       NL     EXPLOITS DAM  8401550
330       NL           GANDER  8401703
331       NL            GOOSE  8501900
332       NL      GRAND FALLS  8404310
333       NL         HOPEDALE  8502400
334       NL             NAIN  8502800
335       NL       PLUM POINT  8402958
336       NL  PORT AUXBASQUES  8402975
337       NL       ST ANTHONY  8403389
338       NL        ST JOHN'S  8403505
339       NL     STEPHENVILLE  8403801
340       NL      WABUSH LAKE  8504177

[338 rows x 3 columns]

In [14]:
df.head()

,allFiles,0,code
0,Homog_monthly_mean_temp (1)/mm1017230.txt,"1017230,SHAWNIGAN LAKE ,BC, station not joined...",1017230
1,Homog_monthly_mean_temp (1)/mm1017230.txt,"1017230,SHAWNIGAN LAKE ,BC, station non jointe...",1017230
2,Homog_monthly_mean_temp (1)/mm1017230.txt,"Year, Jan, , Feb, , Mar, , Apr...",1017230
3,Homog_monthly_mean_temp (1)/mm1017230.txt,"Annee, Janv, , Fev, , Mars, , Av...",1017230
4,Homog_monthly_mean_temp (1)/mm1017230.txt,"1913, -9999.9,M, -9999.9,M, -9999.9,M, 7.7...",1017230

In [15]:
df["code"].value_counts()

6158355    182
6166415    156
6153193    156
8205701    152
8104901    151
7024740    151
8202251    151
8101505    151
6149625    151
6104142    150
6139449    150
8300301    150
502S001    150
8100989    149
8403505    148
701S001    147
7055121    147
6048260    145
6110607    144
8206495    143
7060400    142
3012216    142
6144478    139
3072655    139
3034485    139
4056241    138
8502592    138
3031092    137
4028038    137
3050519    135
          ...
230N002     63
8101200     62
8504177     62
5031111     62
5030080     61
2303092     60
1125079     60
7094120     58
7080600     58
8401550     58
704S001     57
4068559     56
2100181     56
6016970     56
2402684     56
4060982     55
8400413     55
5062921     55
8501131     54
6042716     53
4038740     51
8502800     50
4061632     50
7116270     50
8402958     49
8300447     48
4063755     46
4015960     45
7043540     44
7094275     42
Name: code, Length: 338, dtype: int64

In [16]:
df["code"] = df["code"].str.strip()

In [17]:
city_names_filtered["code"] = city_names_filtered["code"].astype(str)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
city_names_filtered["code"] = city_names_filtered["code"].str.strip()

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
df_merged = df.merge(city_names_filtered, left_on="code", right_on="code")

In [20]:
df_merged.head()

,allFiles,0,code,Province,City
0,Homog_monthly_mean_temp (1)/mm1017230.txt,"1017230,SHAWNIGAN LAKE ,BC, station not joined...",1017230,BC,SHAWNIGAN LAKE
1,Homog_monthly_mean_temp (1)/mm1017230.txt,"1017230,SHAWNIGAN LAKE ,BC, station non jointe...",1017230,BC,SHAWNIGAN LAKE
2,Homog_monthly_mean_temp (1)/mm1017230.txt,"Year, Jan, , Feb, , Mar, , Apr...",1017230,BC,SHAWNIGAN LAKE
3,Homog_monthly_mean_temp (1)/mm1017230.txt,"Annee, Janv, , Fev, , Mars, , Av...",1017230,BC,SHAWNIGAN LAKE
4,Homog_monthly_mean_temp (1)/mm1017230.txt,"1913, -9999.9,M, -9999.9,M, -9999.9,M, 7.7...",1017230,BC,SHAWNIGAN LAKE

In [21]:
df_merged["City"].value_counts()

WOODSTOCK          259
TORONTO            182
HAMILTON           156
PETERBOROUGH       156
SYDNEY             152
HALIFAX            151
MONTREAL TAVISH    151
FREDERICTON        151
SAINT JOHN         151
KINGSTON           150
WINNIPEG           150
CHARLOTTETOWN      150
WELLAND            150
CHATHAM MIRA.      149
ST JOHN'S          148
QUEBEC             147
MONT JOLI          147
THUNDER BAY        145
BEATRICE           144
YARMOUTH           143
EDMONTON           142
BAGOTVILLE         142
FORT CHIPEWYAN     139
MEDICINE HAT       139
LONDON             139
PRINCE ALBERT      138
BATTLE HARBOUR     138
CALGARY            137
SWIFT CURRENT      137
BANFF              135
                  ...
BLIND CHANNEL       63
GRAND RAPIDS        62
WABUSH LAKE         62
DOAKTOWN            62
ARBORG              61
MERRITT             60
PELLY BAY           60
BELLETERRE          58
EXPLOITS DAM        58
LA SARRE            58
BAIE COMEAU         57
WASKESIU LAKE       56
BURWASH             56
LONGSTAFF BLUFF     56
RED LAKE            56
THOMPSON            55
BAY D'ESPOIR        55
BUFFALO NARROWS     55
CHURCHILL FALLS     54
GERALDTON           53
POPLAR RIVER        51
NAIN                50
COLLINS BAY         50
QUAQTAQ             50
PLUM POINT          49
MONTICELLO          48
KEY LAKE            46
PASWEGIN            45
LABRIEVILLE         44
LEBEL QUEVILLON     42
Name: City, Length: 337, dtype: int64

In [22]:
df_merged = df_merged.drop(["allFiles"], axis = 1)

In [23]:
df_merged.drop([0,1,3], inplace = True)

In [24]:
df_merged.head()

,0,code,Province,City
2,"Year, Jan, , Feb, , Mar, , Apr...",1017230,BC,SHAWNIGAN LAKE
4,"1913, -9999.9,M, -9999.9,M, -9999.9,M, 7.7...",1017230,BC,SHAWNIGAN LAKE
5,"1914, 3.1,a, 3.6,a, 6.8,a, 9.6...",1017230,BC,SHAWNIGAN LAKE
6,"1915, 2.1,a, 4.2,a, 7.8,a, 10.3...",1017230,BC,SHAWNIGAN LAKE
7,"1916, -4.6,a, 2.1,a, 4.4,a, 7.8...",1017230,BC,SHAWNIGAN LAKE

In [25]:
df_climate = df_merged[0].str.split(",", 33, expand = True)

In [26]:
df_climate.columns = df_climate.iloc[0]

In [27]:
df_merged = df_merged.drop([2])

In [28]:
df_merged.head()

,0,code,Province,City
4,"1913, -9999.9,M, -9999.9,M, -9999.9,M, 7.7...",1017230,BC,SHAWNIGAN LAKE
5,"1914, 3.1,a, 3.6,a, 6.8,a, 9.6...",1017230,BC,SHAWNIGAN LAKE
6,"1915, 2.1,a, 4.2,a, 7.8,a, 10.3...",1017230,BC,SHAWNIGAN LAKE
7,"1916, -4.6,a, 2.1,a, 4.4,a, 7.8...",1017230,BC,SHAWNIGAN LAKE
8,"1917, 0.5,a, 1.0,a, 2.9,a, 6.6...",1017230,BC,SHAWNIGAN LAKE

In [29]:
df_merged = df_merged.reset_index()

In [30]:
df_climate = df_climate.drop([2])

In [31]:
df_climate = df_climate.reset_index()

In [32]:
df_complete = df_merged.merge(df_climate, left_on="index", right_on="index")

In [33]:
df_complete.drop([0, "index"], axis = 1, inplace = True)

In [34]:
df_complete = df_complete.replace("a", "")

In [35]:
list(df_complete.columns.values)

['code',
 'Province',
 'City',
 'Year',
 '     Jan',
 ' ',
 '     Feb',
 ' ',
 '     Mar',
 ' ',
 '     Apr',
 ' ',
 '     May',
 ' ',
 '     Jun',
 ' ',
 '     Jul',
 ' ',
 '     Aug',
 ' ',
 '     Sep',
 ' ',
 '     Oct',
 ' ',
 '     Nov',
 ' ',
 '     Dec',
 ' ',
 '  Annual',
 ' ',
 '  Winter',
 ' ',
 '  Spring',
 ' ',
 '  Summer',
 ' ',
 '  Autumn']

In [36]:
df_complete

,code,Province,City,Year,Jan,,Feb,,Mar,,...,,Annual,,Winter,,Spring,,Summer,,Autumn
0,1017230,BC,SHAWNIGAN LAKE,1913,-9999.9,M,-9999.9,M,-9999.9,M,...,,-9999.9,M,-9999.9,M,-9999.9,M,16.4,,"8.9,a"
1,1017230,BC,SHAWNIGAN LAKE,1914,3.1,,3.6,,6.8,,...,,9.7,,3.4,,9.9,,16.7,,"9.5,a"
2,1017230,BC,SHAWNIGAN LAKE,1915,2.1,,4.2,,7.8,,...,,9.9,,2.6,,10.1,,17.5,,"9.3,a"
3,1017230,BC,SHAWNIGAN LAKE,1916,-4.6,,2.1,,4.4,,...,,7.8,,0.0,,7.6,,15.9,,"8.5,a"
4,1017230,BC,SHAWNIGAN LAKE,1917,0.5,,1.0,,2.9,,...,,8.6,,0.5,,6.7,,16.3,,"9.9,a"
5,1017230,BC,SHAWNIGAN LAKE,1918,3.6,,1.6,,3.9,,...,,-9999.9,M,2.9,,7.9,,-9999.9,M,"-9999.9,M"
6,1017230,BC,SHAWNIGAN LAKE,1919,4.5,,2.4,,4.9,,...,,8.7,,3.8,,7.6,,15.1,,"9.3,a"
7,1017230,BC,SHAWNIGAN LAKE,1920,2.4,,3.8,,5.2,,...,,9.0,,2.6,,7.0,,16.4,,"9.3,a"
8,1017230,BC,SHAWNIGAN LAKE,1921,2.6,,3.6,,4.9,,...,,8.5,,3.4,,7.5,,15.0,,"9.1,a"
9,1017230,BC,SHAWNIGAN LAKE,1922,0.2,,1.2,,3.6,,...,,8.5,,0.8,,7.0,,16.7,,"9.7,a"
10,1017230,BC,SHAWNIGAN LAKE,1923,1.8,,0.9,,5.0,,...,,9.5,,1.0,,8.4,,17.0,,"10.5,a"
11,1017230,BC,SHAWNIGAN LAKE,1924,2.2,,5.8,,5.1,,...,,9.2,,3.9,,8.1,,16.3,,"9.3,a"
12,1017230,BC,SHAWNIGAN LAKE,1925,3.2,,5.1,,5.7,,...,,10.0,,3.1,,9.0,,16.3,,"10.1,a"
13,1017230,BC,SHAWNIGAN LAKE,1926,3.5,,5.7,,8.4,,...,,10.7,,5.1,,10.5,,17.8,,"10.5,a"
14,1017230,BC,SHAWNIGAN LAKE,1927,1.7,,4.3,,5.2,,...,,9.0,,2.9,,7.6,,17.3,,"9.2,a"
15,1017230,BC,SHAWNIGAN LAKE,1928,3.2,,3.7,,6.6,,...,,9.9,,2.2,,9.3,,17.1,,"10.0,a"
16,1017230,BC,SHAWNIGAN LAKE,1929,-0.2,,0.8,,5.7,,...,,9.1,,1.2,,8.1,,16.6,,"10.5,a"
17,1017230,BC,SHAWNIGAN LAKE,1930,-2.4,,3.8,,6.3,,...,,9.4,,1.6,,9.2,,16.9,,"9.6,a"
18,1017230,BC,SHAWNIGAN LAKE,1931,4.8,,4.2,,6.0,,...,,9.9,,4.2,,9.6,,16.5,,"9.5,a"
19,1017230,BC,SHAWNIGAN LAKE,1932,1.6,,3.3,,5.8,,...,,9.3,,2.7,,8.5,,15.5,,"11.0,a"
20,1017230,BC,SHAWNIGAN LAKE,1933,2.5,,1.0,,4.3,,...,,9.0,,1.7,,7.0,,16.1,,"10.1,a"
21,1017230,BC,SHAWNIGAN LAKE,1934,4.9,,5.9,,8.0,,...,,10.8,,5.0,,11.0,,16.4,,"10.9,a"
22,1017230,BC,SHAWNIGAN LAKE,1935,1.7,,4.3,,3.8,,...,,9.2,,3.4,,7.3,,15.8,,"9.9,a"
23,1017230,BC,SHAWNIGAN LAKE,1936,4.5,,-0.8,,4.2,,...,,9.7,,2.8,,9.1,,17.0,,"10.2,a"
24,1017230,BC,SHAWNIGAN LAKE,1937,-2.7,,1.2,,5.6,,...,,8.8,,0.8,,8.1,,16.2,,"10.4,a"
25,1017230,BC,SHAWNIGAN LAKE,1938,2.6,,3.1,,4.8,,...,,9.2,,2.9,,8.1,,15.9,,"9.9,a"
26,1017230,BC,SHAWNIGAN LAKE,1939,3.7,,1.9,,5.2,,...,,9.5,,2.7,,8.3,,15.6,,"10.4,a"
27,1017230,BC,SHAWNIGAN LAKE,1940,3.6,,5.1,,6.8,,...,,10.6,,4.7,,9.8,,16.8,,"11.3,a"
28,1017230,BC,SHAWNIGAN LAKE,1941,4.5,,5.6,,7.8,,...,,10.1,,5.0,,9.9,,16.5,,"9.8,a"
29,1017230,BC,SHAWNIGAN LAKE,1942,1.9,,3.6,,5.0,,...,,9.7,,2.8,,8.5,,17.0,,"10.1,a"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33093,8504177,NL,WABUSH LAKE,1988,-21.7,,-23.4,,-11.8,,...,,-3.6,,-21.4,,-2.9,,11.5,,"-0.6,"
33094,8504177,NL,WABUSH LAKE,1989,-22.6,,-22.7,,-17.4,,...,,-4.0,,-22.3,,-5.3,,12.4,,"-1.4,"
33095,8504177,NL,WABUSH LAKE,1990,-22.7,,-24.3,,-14.7,,...,,-4.3,,-22.3,,-6.0,,12.3,,"-1.2,"
33096,8504177,NL,WABUSH LAKE,1991,-28.4,,-21.0,,-10.7,,...,,-4.0,,-23.0,,-4.5,,12.2,,"0.1,"
33097,8504177,NL,WABUSH LAKE,1992,-21.9,,-25.2,,-15.2,,...,,-4.8,,-22.8,,-6.7,,10.5,,"-1.0,"
33098,8504177,NL,WABUSH LAKE,1993,-22.5,,-25.0,,-15.4,,...,,-4.3,,-22.0,,-4.9,,12.2,,"-2.8,"
33099,8504177,NL,WABUSH LAKE,1994,-27.6,,-23.8,,-13.1,,...,,-3.9,,-23.1,,-6.6,,11.6,,"2.0,"
33100,8504177,NL,WABUSH LAKE,1995,-23.9,,-24.2,,-14.5,,...,,-3.4,,-21.4,,-4.2,,12.9,,"-0.2,"
33101,8504177,NL,WABUSH LAKE,1996,-24.0,,-18.7,,-14.1,,...,,-2.7,E,-20.1,,-4.9,,12.7,,"0.3,E"
33102,8504177,NL,WABUSH LAKE,1997,-19.7,,-22.9,,-17.3,,...,,-3.7,,-18.8,,-6.8,,11.2,,"0.1,"
33103,8504177,NL,WABUSH LAKE,1998,-20.4,,-15.0,,-13.7,,...,,-1.7,,-17.0,,-3.0,,13.3,,"0.0,"
33104,8504177,NL,WABUSH LAKE,1999,-22.0,,-17.2,,-7.3,,...,,-1.3,,-18.2,,-0.5,,13.0,,"0.5,"
33105,8504177,NL,WABUSH LAKE,2000,-22.0,,-19.4,,-8.7,,...,,-2.5,,-18.9,,-3.5,,12.5,,"0.0,"
33106,8504177,NL,WABUSH LAKE,2001,-21.7,,-21.8,,-9.7,,...,,-1.6,,-19.8,,-1.9,,12.9,,"1.3,"
33107,8504177,NL,WABUSH LAKE,2002,-22.9,,-22.6,,-17.0,,...,,-4.1,,-19.2,,-7.2,,12.1,,"-0.6,"
33108,8504177,NL,WABUSH LAKE,2003,-20.0,,-23.2,,-16.6,,...,E,-2.6,E,-19.7,,-5.9,,12.8,,"2.1,"
33109,8504177,NL,WABUSH LAKE,2004,-21.1,,-20.0,,-13.2,,...,,-3.4,,-18.6,E,-6.0,,12.2,,"0.4,"
33110,8504177,NL,WABUSH LAKE,2005,-25.0,,-18.3,,-13.1,,...,,-2.1,,-20.9,,-2.6,,12.9,,"1.5,"
33111,8504177,NL,WABUSH LAKE,2006,-18.6,,-20.6,,-8.0,,...,,-1.0,,-18.9,,-0.6,,12.5,,"1.6,"
33112,8504177,NL,WABUSH LAKE,2007,-18.7,,-19.6,,-15.8,,...,,-3.1,,-17.3,,-5.3,,12.7,,"-0.3,"
33113,8504177,NL,WABUSH LAKE,2008,-19.5,,-21.1,,-16.3,,...,,-2.1,,-20.1,,-3.7,,13.8,,"1.5,"
33114,8504177,NL,WABUSH LAKE,2009,-22.8,,-16.9,,-13.8,,...,,-2.1,,-19.6,,-4.9,,12.9,,"1.5,"
33115,8504177,NL,WABUSH LAKE,2010,-16.2,,-8.6,,-9.9,,...,,0.6,E,-12.8,,-1.9,,13.2,E,"1.8,E"
33116,8504177,NL,WABUSH LAKE,2011,-17.4,,-21.9,,-14.1,,...,,-2.4,E,-15.5,,-5.4,,12.8,E,"2.0,"
33117,8504177,NL,WABUSH LAKE,2012,-21.4,,-18.7,,-12.8,,...,,-1.3,,-19.3,,-3.8,,14.5,,"2.4,"
33118,8504177,NL,WABUSH LAKE,2013,-21.2,,-9999.9,M,-9999.9,M,...,M,-9999.9,M,-9999.9,M,-9999.9,M,-9999.9,M,"-9999.9,M"
33119,8504177,NL,WABUSH LAKE,2014,-9999.9,M,-9999.9,M,-9999.9,M,...,,-9999.9,M,-9999.9,M,-9999.9,M,-9999.9,M,"-9999.9,M"
33120,8504177,NL,WABUSH LAKE,2015,-26.0,,-27.7,E,-16.6,,...,,-4.1,E,-23.5,E,-7.0,,13.0,,"0.0,"
33121,8504177,NL,WABUSH LAKE,2016,-17.9,,-22.0,E,-17.2,,...,E,-9999.9,M,-17.6,E,-6.8,,-9999.9,M,"0.7,"
33122,8504177,NL,WABUSH LAKE,2017,-20.0,E,-19.9,,-16.7,,...,,-2.9,E,-19.9,E,-5.8,,12.0,E,"1.1,"

In [37]:
df_complete = df_complete.drop([" "], axis=1)

In [38]:
df_complete= df_complete.rename(columns=lambda x: x.strip())

In [39]:
list(df_complete.columns.values)

['code',
 'Province',
 'City',
 'Year',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'Annual',
 'Winter',
 'Spring',
 'Summer',
 'Autumn']

In [40]:
df_complete.head()

,code,Province,City,Year,Jan,Feb,Mar,Apr,May,Jun,...,Aug,Sep,Oct,Nov,Dec,Annual,Winter,Spring,Summer,Autumn
0,1017230,BC,SHAWNIGAN LAKE,1913,-9999.9,-9999.9,-9999.9,7.7,11.0,14.0,...,18.3,13.1,8.6,4.9,3.5,-9999.9,-9999.9,-9999.9,16.4,"8.9,a"
1,1017230,BC,SHAWNIGAN LAKE,1914,3.1,3.6,6.8,9.6,13.3,14.5,...,17.9,12.5,10.6,5.4,1.4,9.7,3.4,9.9,16.7,"9.5,a"
2,1017230,BC,SHAWNIGAN LAKE,1915,2.1,4.2,7.8,10.3,12.2,15.6,...,19.1,14.0,10.0,3.8,2.4,9.9,2.6,10.1,17.5,"9.3,a"
3,1017230,BC,SHAWNIGAN LAKE,1916,-4.6,2.1,4.4,7.8,10.7,14.4,...,17.8,14.0,8.1,3.4,0.1,7.8,0.0,7.6,15.9,"8.5,a"
4,1017230,BC,SHAWNIGAN LAKE,1917,0.5,1.0,2.9,6.6,10.7,13.0,...,18.5,13.5,9.4,6.7,3.4,8.6,0.5,6.7,16.3,"9.9,a"

In [41]:
df_complete.shape

(33123, 21)

In [42]:
df_merged.shape

(33123, 5)

In [43]:
df_complete.drop(["Winter", "Spring", "Summer", "Autumn"], axis = 1, inplace = True)

In [44]:
df_complete = df_complete.applymap(lambda x: x.strip() if type(x) is str else x)

In [45]:
df_complete = df_complete.replace("-9999.9", "")

In [46]:
df_complete.head()

,code,Province,City,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Annual
0,1017230,BC,SHAWNIGAN LAKE,1913,,,,7.7,11.0,14.0,16.9,18.3,13.1,8.6,4.9,3.5,
1,1017230,BC,SHAWNIGAN LAKE,1914,3.1,3.6,6.8,9.6,13.3,14.5,17.8,17.9,12.5,10.6,5.4,1.4,9.7
2,1017230,BC,SHAWNIGAN LAKE,1915,2.1,4.2,7.8,10.3,12.2,15.6,17.7,19.1,14.0,10.0,3.8,2.4,9.9
3,1017230,BC,SHAWNIGAN LAKE,1916,-4.6,2.1,4.4,7.8,10.7,14.4,15.6,17.8,14.0,8.1,3.4,0.1,7.8
4,1017230,BC,SHAWNIGAN LAKE,1917,0.5,1.0,2.9,6.6,10.7,13.0,17.3,18.5,13.5,9.4,6.7,3.4,8.6

In [47]:
columns_list = list(df_complete.columns.values)

In [48]:
n = 4
new_columns_list = columns_list[n:]

In [65]:
del new_columns_list[-1]

In [66]:
new_columns_list

['Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec']

In [67]:
df_complete_long = df_complete.melt(id_vars=['Year', "Province", "code", "City", "Annual"],
                        value_vars=new_columns_list,
                        var_name='Month',value_name='Temperature')

In [68]:
df_complete_long.head()

   Year Province     code            City Annual Month Temperature
0  1913       BC  1017230  SHAWNIGAN LAKE          Jan
1  1914       BC  1017230  SHAWNIGAN LAKE    9.7   Jan         3.1
2  1915       BC  1017230  SHAWNIGAN LAKE    9.9   Jan         2.1
3  1916       BC  1017230  SHAWNIGAN LAKE    7.8   Jan        -4.6
4  1917       BC  1017230  SHAWNIGAN LAKE    8.6   Jan         0.5

In [84]:
df_complete_long.shape

(389292, 7)

In [83]:
 df_complete_long= df_complete_long[~df_complete_long['Year'].isin(["Year", "Annee", "8202000", "7014290", "7013362", "2204101"])]

In [77]:
 df_complete_long= df_complete_long[~df_complete_long['Year'].isin(["Year", "Annee", "8202000", "7014290", "7013362", "2204101"])]

(397476, 7)

In [86]:
pd.set_option("display.max_rows",511)

In [89]:
 df_complete_long= df_complete_long[~df_complete_long['Year'].isin(["501A7AR", "406QLD0", "2100LRP", "701S001", "709CEE9", "3060L20", "230N002", "250M001", "6020LPQ", "402DAF0", "707DBD4", "306A009", ""])]

In [99]:
 df_complete_long= df_complete_long[~df_complete_long['Year'].isin(["502S001", "704S001", "710S005"])]

In [102]:
df_complete_long["Year"] = df_complete_long["Year"].astype(int)

In [105]:
df_complete_long = df_complete_long[df_complete_long["Year"] < 2020]

In [106]:
df_complete_long["Year"].value_counts()

1980    4056
1981    4056
1988    4056
1987    4056
1986    4056
1985    4056
1984    4056
1982    4056
1983    4056
1979    4056
1978    4056
1977    4056
1976    4056
1994    4044
1975    4044
1974    4044
1972    4044
1989    4044
1990    4044
1991    4044
1992    4044
1993    4044
1973    4044
1995    4032
1971    4020
1997    4020
1996    4020
1970    4020
1968    4008
1969    4008
1998    4008
1967    3996
1999    3996
2000    3996
2002    3972
2001    3972
2003    3948
1966    3948
1965    3924
2004    3924
1964    3900
1963    3900
1962    3888
1961    3864
1960    3864
2005    3852
2006    3840
1959    3816
2007    3804
1958    3792
2008    3780
1957    3732
2009    3720
2010    3648
2011    3636
1956    3624
1955    3600
2012    3576
2013    3540
1953    3528
1954    3528
2014    3516
1952    3516
1951    3480
1950    3408
2015    3384
1949    3384
1948    3360
1947    3312
1946    3264
2016    3204
1945    3180
1944    3144
1943    3060
2017    3024
1942    2988
1941    2928
1940    2880
1939    2820
1938    2772
1937    2736
1936    2688
1935    2664
1934    2640
1933    2604
1932    2544
1931    2508
1930    2496
1929    2448
1928    2424
1927    2400
1926    2364
1925    2328
1924    2292
1923    2220
1922    2184
1921    2076
1920    2040
1919    2028
1918    2028
1917    1968
1916    1908
1915    1860
1914    1704
1913    1536
1912    1272
1911    1200
1910    1104
1909    1068
1908    1056
1907     996
1905     936
1906     936
1904     900
1903     876
1902     852
1901     816
1900     792
1899     756
1898     720
1897     684
1896     636
1895     624
1894     564
1893     552
1892     504
1891     492
1890     480
1889     444
1888     420
1887     396
1886     372
1885     372
1884     348
1883     324
1882     288
1881     288
1880     276
1879     252
1878     240
1877     216
1876     204
1875     204
1874     180
1873     168
1872     156
1871     108
1870      48
1867      36
1866      36
1868      36
1869      36
1852      12
1841      12
1842      12
1843      12
1844      12
1845      12
1846      12
1847      12
1848      12
1849      12
1850      12
1851      12
1861      12
1853      12
1854      12
1855      12
1856      12
1857      12
1858      12
1859      12
1860      12
1862      12
1863      12
1864      12
1865      12
1840      12
Name: Year, dtype: int64

In [107]:
provinces_cities = df_complete_long.groupby("Province")["City"].value_counts().rename(columns={'City':'MEAN_TIME'}).reset_index()

In [108]:
provinces_cities.drop(0, axis = 1, inplace = True)

In [109]:
provinces_cities.head()

  Province            City
0       AB        EDMONTON
1       AB  FORT CHIPEWYAN
2       AB    MEDICINE HAT
3       AB         CALGARY
4       AB           BANFF

In [110]:
provinces_cities.to_csv("provinces_cities.csv")

In [111]:
df_complete_long.to_csv("Canadian_cities_climate.csv")