In [1]:
import requests as rq
from bs4 import BeautifulSoup
import pandas as pd
import re

In [2]:
years = [1936, 1948, 1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1994, 1998, 2002, 2006, 2010, 2014, 2018]

In [3]:
years_df = pd.DataFrame(years)

In [4]:
years_df.columns = ["Years"]

In [5]:
years_df["Years"] = years_df["Years"].astype(str)

In [6]:
urls = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/mens-downhill.html"

In [7]:
pd.set_option('max_colwidth',100)

In [8]:
urls

0     https://www.sports-reference.com/olympics/winter/1936/ASK/mens-downhill.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/mens-downhill.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/mens-downhill.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/mens-downhill.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/mens-downhill.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/mens-downhill.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/mens-downhill.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/mens-downhill.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/mens-downhill.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/mens-downhill.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/mens-downhill.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/mens-downhill.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/mens-downhill.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/mens-downhill.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/mens-downhill.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/mens-downhill.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/mens-downhill.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/mens-downhill.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/mens-downhill.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/mens-downhill.html
Name: Years, dtype: object

In [9]:
from bs4 import BeautifulSoup
url = "https://www.sports-reference.com/olympics/winter/2010/ASK/mens-downhill.html"
response = rq.post(url)
doc = BeautifulSoup(response.text, "html.parser")

In [10]:
list_downhill = []
for row in doc.find_all("tr")[4:]:
        print(row.find_all("td")[0].text)

1
2
3
4
5
6
7
8
9
10
11
12T
12T
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31T
31T
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
AC
AC
AC
AC
AC

In [11]:
list_downhill = []
for n in doc.find_all("tr")[4:]:
    dictionary = {}
    rank = n.find_all("td")[0]
    if rank:
        dictionary["Rank"] = rank.text.strip()
    Athlete = n.find_all("td")[1]
    if Athlete:
        dictionary["Athlete"] = Athlete.text.strip()
    Age = n.find_all("td")[2]
    if Age:
        dictionary["Age"] = Age.text.strip()
    Country = n.find_all("td")[3]
    if Country:
        dictionary["Country"] = Country.text.strip()
    NOC = n.find_all("td")[4]
    if NOC:
        dictionary["NOC"] = NOC.text.strip()
    Medal = n.find_all("td")[5]
    if Medal:
        dictionary["Medal"] = Medal.text.strip()
    Time = n.find_all("td")[6]
    if Time:
        dictionary["Time"] = Time.text.strip()
    list_downhill.append(dictionary)

In [12]:
pd.DataFrame(list_downhill)

   Age                  Athlete         Country   Medal  NOC Rank       Time
0   32           Didier DÃ©fago     Switzerland    Gold  SUI    1    1:54.31
1   27       Aksel Lund Svindal          Norway  Silver  NOR    2    1:54.38
2   32              Bode Miller   United States  Bronze  USA    3    1:54.40
3   26           Mario Scheiber         Austria          AUT    4    1:54.52
4   28                Erik Guay          Canada          CAN    5    1:54.64
5   35             Didier Cuche     Switzerland          SUI    6    1:54.67
6   27            David Poisson          France          FRA    7    1:54.82
7   38            Marco BÃ¼chel   Liechtenstein          LIE    8    1:54.84
8   29             Klaus KrÃ¶ll         Austria          AUT    9    1:54.87
9   34       Michael Walchhofer         Austria          AUT   10    1:54.88
10  23              Carlo Janka     Switzerland          SUI   11    1:55.02
11  25              Hans Olsson          Sweden          SWE  12T    1:55.19
12  27              Werner Heel           Italy          ITA  12T    1:55.19
13  24                Rok Perko        Slovenia          SLO   14    1:55.26
14  27               Peter Fill           Italy          ITA   15    1:55.29
15  25           Adrien ThÃ©aux          France          FRA   16    1:55.40
16  26   Manuel Osborne-Paradis          Canada          CAN   17    1:55.44
17  30          Ivica KosteliÄ         Croatia          CRO   18    1:55.49
18  25      Christof Innerhofer           Italy          ITA   19    1:55.58
19  28              Steve Nyman   United States          USA   20    1:55.71
20  24         Andrew Weibrecht   United States          USA   21    1:55.74
21  28             Hans Grugger         Austria          AUT   22    1:55.81
22  32         Ambrosi Hoffmann     Switzerland          SUI   23    1:56.04
23  27          Stephan Keppler         Germany          GER   24    1:56.11
24  28                Jan Hudec          Canada          CAN   25    1:56.19
25  24          Guillermo Fayed          France          FRA   26    1:56.20
26  29             Johan Clarey          France          FRA   27    1:56.29
27  31            Andrej Jerman        Slovenia          SLO   28    1:56.35
28  40           Patrik JÃ¤rbyn          Sweden          SWE   29    1:56.58
29  29             OndÅej Bank  Czech Republic          CZE   30    1:56.66
..  ..                      ...             ...     ...  ...  ...        ...
34  29       Patrick Staudacher           Italy          ITA   35    1:57.21
35  29         Petr ZÃ¡hrobskÃ½  Czech Republic          CZE   36    1:57.44
36  23           Andrej KriÅ¾aj        Slovenia          SLO   37    1:57.72
37  24                 Ed Drake   Great Britain          GBR   38    1:57.91
38  28              Jono Brauer       Australia          AUS   39    1:58.08
39  23          KryÅ¡tof KrÃ½zl  Czech Republic          CZE   40    1:58.43
40  23             Ivan RatkiÄ         Croatia          CRO   41    1:58.58
41  20            Andreas Romar         Finland          FIN   42    1:58.71
42  31           Markus Larsson          Sweden          SWE   43    1:58.82
43  22            FerrÃ¡n Terra           Spain          ESP   44    1:58.85
44  25    Aleksandr Khoroshilov          Russia          RUS   45    1:59.21
45  34        Truls Ove Karlsen          Norway          NOR   46    1:59.52
46  20      Kevin Esteve Rigail         Andorra          AND   47    1:59.61
47  25             Roger Vidosa         Andorra          AND   48    1:59.65
48  26               Maui Gayme           Chile          CHI   49    1:59.76
49  23          Igor Zakurdayev      Kazakhstan          KAZ   50    1:59.80
50  21        Paul de la Cuesta           Spain          ESP   51    1:59.84
51  25       Jaroslav BabuÅ¡iak        Slovakia          SVK   52    1:59.99
52  32         Johnny Albertsen         Denmark          DEN   53    2:00.12
53  21             Stepan Zuyev          Russia          RUS   54    2:00.58
54  29  Cristian Simari Birkner       Argentina          ARG   55    2:01.67
55  23            Jorge MandrÃº           Chile          CHI   56    2:01.72
56  25            Filip Trejbal  Czech Republic          CZE   57    2:02.57
57  22             Roberts Rode          Latvia          LAT   58    2:03.36
58  32            Andrey Drygin      Tajikistan          TJK   59    2:04.44
59  25             Robbie Dixon          Canada          CAN   AC
60  28            Andrej Å porn        Slovenia          SLO   AC
61  24           DragoÈ Staicu         Romania          ROU   AC
62  32          Stefan Georgiev        Bulgaria          BUL   AC
63  29           Marco Sullivan   United States          USA   AC  [2:07.76]

[64 rows x 7 columns]

In [13]:
list_downhill = []

for i in urls:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_downhill.append(dictionary)

In [14]:
df_downhill = pd.DataFrame(list_downhill)

In [15]:
df_downhill.head()

  Age         Athlete      Country   Medal  NOC Rank    Time
0  22  Henri Oreiller       France    Gold  FRA    1  2:55.0
1  26      Franz Gabl      Austria  Silver  AUT    2  2:59.1
2  27    Karl Molitor  Switzerland  Bronze  SUI   3T  3:00.3
3  23   Ralph Olinger  Switzerland  Bronze  SUI   3T  3:00.3
4  22    Egon SchÃ¶pf      Austria          AUT    5  3:01.2

In [16]:
df_downhill.tail()

     Age                  Athlete   Country Medal  NOC Rank     Time
1159  20           Martin BendÃ­k  Slovakia        SVK   45  2:15.39
1160  23         Ioan Achiriloaie   Romania        ROU   46  2:17.46
1161  26             Roberts Rode    Latvia        LAT   47  2:17.50
1162  33             Johan Clarey    France        FRA   AC
1163  21  Aleksander Aamodt Kilde    Norway        NOR   AC

In [17]:
df_downhill.to_csv("df_downhill.csv")

In [18]:
df_downhill_years = pd.read_csv("df_downhill - df_downhill.csv")

In [19]:
df_downhill_years["Rank"] = df_downhill_years["Rank"].str.replace("[A-Z]", "")

In [20]:
df_downhill_years.drop("Unnamed: 0", 1, inplace = True)

In [21]:
df_downhill_years.head()

    Age         Athlete      Country   Medal  NOC Rank    Time  Year
0  22.0  Henri Oreiller       France    Gold  FRA    1  2:55.0  1948
1  26.0      Franz Gabl      Austria  Silver  AUT    2  2:59.1  1948
2  27.0    Karl Molitor  Switzerland  Bronze  SUI    3  3:00.3  1948
3  23.0   Ralph Olinger  Switzerland  Bronze  SUI    3  3:00.3  1948
4  22.0    Egon SchÃ¶pf      Austria     NaN  AUT    5  3:01.2  1948

In [22]:
urls_super_g = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/mens-super-g.html"

In [23]:
urls_super_g

0     https://www.sports-reference.com/olympics/winter/1936/ASK/mens-super-g.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/mens-super-g.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/mens-super-g.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/mens-super-g.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/mens-super-g.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/mens-super-g.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/mens-super-g.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/mens-super-g.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/mens-super-g.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/mens-super-g.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/mens-super-g.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/mens-super-g.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/mens-super-g.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/mens-super-g.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/mens-super-g.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/mens-super-g.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/mens-super-g.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/mens-super-g.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/mens-super-g.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/mens-super-g.html
Name: Years, dtype: object

In [28]:
list_super_g = []

for i in urls_super_g:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_super_g.append(dictionary)

In [29]:
df_super_g = pd.DataFrame(list_super_g)

In [30]:
df_super_g.head()

  Age               Athlete      Country   Medal  NOC Rank     Time
0  23        Franck Piccard       France    Gold  FRA    1  1:39.66
1  21          Helmut Mayer      Austria  Silver  AUT    2  1:40.96
2  21  Lars-BÃ¶rje Eriksson       Sweden  Bronze  SWE    3  1:41.08
3  25         Hubert Strolz      Austria          AUT    4  1:41.11
4  25     Pirmin Zurbriggen  Switzerland          SUI   5T  1:41.96

In [31]:
df_super_g.to_csv("df_super_g.csv")

In [32]:
df_super_g_years = pd.read_csv("df_super_g - df_super_g.csv")

In [33]:
df_super_g_years.head()

   Age               Athlete      Country   Medal  NOC Rank     Time  Year
0   23        Franck Piccard       France    Gold  FRA    1  1:39.66  1988
1   21          Helmut Mayer      Austria  Silver  AUT    2  1:40.96  1988
2   21  Lars-BÃ¶rje Eriksson       Sweden  Bronze  SWE    3  1:41.08  1988
3   25         Hubert Strolz      Austria     NaN  AUT    4  1:41.11  1988
4   25     Pirmin Zurbriggen  Switzerland     NaN  SUI   5T  1:41.96  1988

In [ ]:
df_super_g_years

In [34]:
df_super_g_years["Rank"] = df_super_g_years["Rank"].str.replace("[A-Z]", "")

In [35]:
df_super_g_years.head()

   Age               Athlete      Country   Medal  NOC Rank     Time  Year
0   23        Franck Piccard       France    Gold  FRA    1  1:39.66  1988
1   21          Helmut Mayer      Austria  Silver  AUT    2  1:40.96  1988
2   21  Lars-BÃ¶rje Eriksson       Sweden  Bronze  SWE    3  1:41.08  1988
3   25         Hubert Strolz      Austria     NaN  AUT    4  1:41.11  1988
4   25     Pirmin Zurbriggen  Switzerland     NaN  SUI    5  1:41.96  1988

In [36]:
df_super_g.to_csv("df_super_g - df_super_g.csv")

In [37]:
urls_Giant_slalom = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/mens-giant-slalom.html"

In [38]:
urls_Giant_slalom

0     https://www.sports-reference.com/olympics/winter/1936/ASK/mens-giant-slalom.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/mens-giant-slalom.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/mens-giant-slalom.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/mens-giant-slalom.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/mens-giant-slalom.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/mens-giant-slalom.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/mens-giant-slalom.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/mens-giant-slalom.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/mens-giant-slalom.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/mens-giant-slalom.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/mens-giant-slalom.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/mens-giant-slalom.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/mens-giant-slalom.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/mens-giant-slalom.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/mens-giant-slalom.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/mens-giant-slalom.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/mens-giant-slalom.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/mens-giant-slalom.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/mens-giant-slalom.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/mens-giant-slalom.html
Name: Years, dtype: object

In [39]:
list_Giant_slalom = []

for i in urls_Giant_slalom:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_Giant_slalom.append(dictionary)

In [40]:
df_Giant_slalom = pd.DataFrame(list_Giant_slalom)

In [41]:
df_Giant_slalom.head()

  Age            Athlete      Country   Medal  NOC Rank    Time
0  24      Stein Eriksen       Norway    Gold  NOR    1  2:25.0
1  24   Christian Pravda      Austria  Silver  AUT    2  2:26.9
2  21         Toni SpiÃ      Austria  Bronze  AUT    3  2:28.8
3  31         Zeno ColÃ²        Italy          ITA    4  2:29.1
4  26  Georges Schneider  Switzerland          SUI    5  2:31.2

In [42]:
df_Giant_slalom["Rank"] = df_Giant_slalom["Rank"].str.replace("[A-Z]", "")

In [45]:
df_Giant_slalom.to_csv("df_Giant_slalom.csv")

In [46]:
df_Giant_slalom_years = pd.read_csv("df_Giant_slalom - df_Giant_slalom.csv")

In [47]:
df_Giant_slalom_years.head()

,Unnamed: 0,Age,Athlete,Country,Medal,NOC,Rank,Time,Year
0,0,24.0,Stein Eriksen,Norway,Gold,NOR,1.0,2:25.0,1952
1,1,24.0,Christian Pravda,Austria,Silver,AUT,2.0,2:26.9,1952
2,2,21.0,Toni SpiÃ,Austria,Bronze,AUT,3.0,2:28.8,1952
3,3,31.0,Zeno ColÃ²,Italy,NaN,ITA,4.0,2:29.1,1952
4,4,26.0,Georges Schneider,Switzerland,NaN,SUI,5.0,2:31.2,1952

In [48]:
urls_slalom = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/mens-slalom.html"

In [49]:
urls_slalom

0     https://www.sports-reference.com/olympics/winter/1936/ASK/mens-slalom.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/mens-slalom.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/mens-slalom.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/mens-slalom.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/mens-slalom.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/mens-slalom.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/mens-slalom.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/mens-slalom.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/mens-slalom.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/mens-slalom.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/mens-slalom.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/mens-slalom.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/mens-slalom.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/mens-slalom.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/mens-slalom.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/mens-slalom.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/mens-slalom.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/mens-slalom.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/mens-slalom.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/mens-slalom.html
Name: Years, dtype: object

In [50]:
list_slalom = []

for i in urls_slalom:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_slalom.append(dictionary)

In [54]:
df_slalom = pd.DataFrame(list_slalom)

In [56]:
df_slalom["Rank"] = df_slalom["Rank"].str.replace("[A-Z]", "")

In [58]:
df_slalom.head()

  Age         Athlete      Country   Medal  NOC Rank    Time
0  27   Edy Reinalter  Switzerland    Gold  SUI    1  2:10.3
1  26   James Couttet       France  Silver  FRA    2  2:10.8
2  22  Henri Oreiller       France  Bronze  FRA    3  2:12.8
3  26   Silvio AlverÃ        Italy          ITA    4  2:13.2
4  25     Olle Dalman       Sweden          SWE    5  2:13.6

In [59]:
df_slalom.to_csv("df_slalom.csv")

In [60]:
df_slalom_years = pd.read_csv("df_slalom - df_slalom.csv")

In [62]:
df_slalom_years.head()

    Age         Athlete      Country   Medal  NOC Rank    Time  Years
0  27.0   Edy Reinalter  Switzerland    Gold  SUI    1  2:10.3   1948
1  26.0   James Couttet       France  Silver  FRA    2  2:10.8   1948
2  22.0  Henri Oreiller       France  Bronze  FRA    3  2:12.8   1948
3  26.0   Silvio AlverÃ        Italy     NaN  ITA    4  2:13.2   1948
4  25.0     Olle Dalman       Sweden     NaN  SWE    5  2:13.6   1948

In [63]:
urls_combined = "https://www.sports-reference.com/olympics/winter/" + years_df["Years"] + "/ASK/mens-combined.html"

In [64]:
urls_combined

0     https://www.sports-reference.com/olympics/winter/1936/ASK/mens-combined.html
1     https://www.sports-reference.com/olympics/winter/1948/ASK/mens-combined.html
2     https://www.sports-reference.com/olympics/winter/1952/ASK/mens-combined.html
3     https://www.sports-reference.com/olympics/winter/1956/ASK/mens-combined.html
4     https://www.sports-reference.com/olympics/winter/1960/ASK/mens-combined.html
5     https://www.sports-reference.com/olympics/winter/1964/ASK/mens-combined.html
6     https://www.sports-reference.com/olympics/winter/1968/ASK/mens-combined.html
7     https://www.sports-reference.com/olympics/winter/1972/ASK/mens-combined.html
8     https://www.sports-reference.com/olympics/winter/1976/ASK/mens-combined.html
9     https://www.sports-reference.com/olympics/winter/1980/ASK/mens-combined.html
10    https://www.sports-reference.com/olympics/winter/1984/ASK/mens-combined.html
11    https://www.sports-reference.com/olympics/winter/1988/ASK/mens-combined.html
12    https://www.sports-reference.com/olympics/winter/1992/ASK/mens-combined.html
13    https://www.sports-reference.com/olympics/winter/1994/ASK/mens-combined.html
14    https://www.sports-reference.com/olympics/winter/1998/ASK/mens-combined.html
15    https://www.sports-reference.com/olympics/winter/2002/ASK/mens-combined.html
16    https://www.sports-reference.com/olympics/winter/2006/ASK/mens-combined.html
17    https://www.sports-reference.com/olympics/winter/2010/ASK/mens-combined.html
18    https://www.sports-reference.com/olympics/winter/2014/ASK/mens-combined.html
19    https://www.sports-reference.com/olympics/winter/2018/ASK/mens-combined.html
Name: Years, dtype: object

In [65]:
list_combined = []

for i in urls_combined:
    response = rq.post(i)
    doc = BeautifulSoup(response.text, "html.parser")
    for n in doc.find_all("tr")[4:]:
        dictionary = {}
        rank = n.find_all("td")[0]
        if rank:
            dictionary["Rank"] = rank.text.strip()
        Athlete = n.find_all("td")[1]
        if Athlete:
            dictionary["Athlete"] = Athlete.text.strip()
        Age = n.find_all("td")[2]
        if Age:
            dictionary["Age"] = Age.text.strip()
        Country = n.find_all("td")[3]
        if Country:
            dictionary["Country"] = Country.text.strip()
        NOC = n.find_all("td")[4]
        if NOC:
            dictionary["NOC"] = NOC.text.strip()
        Medal = n.find_all("td")[5]
        if Medal:
            dictionary["Medal"] = Medal.text.strip()
        Time = n.find_all("td")[6]
        if Time:
            dictionary["Time"] = Time.text.strip()
        list_combined.append(dictionary)

In [68]:
df_combined = pd.DataFrame(list_combined)

In [71]:
df_combined["Rank"] = df_combined["Rank"].str.replace("[A-Z]", "")

In [72]:
df_combined.head()

  Age            Athlete  Country   Medal  NOC Rank   Time
0  27       Franz PfnÃ¼r  Germany    Gold  GER    1  99.25
1  25  Gustav Lantschner  Germany  Silver  GER    2  96.26
2  23      Ãmile Allais   France  Bronze  FRA    3  94.69
3  24        Birger Ruud   Norway          NOR    4  93.38
4  22     Roman WÃ¶rndle  Germany          GER    5  91.16

In [73]:
df_combined.to_csv("df_combined.csv")

In [74]:
df_combined_years = pd.read_csv("df_combined - df_combined.csv")

In [ ]:
## COMBINING ALL DFs

In [ ]:
df_slalom_years.columns = ["Age", "Athlete", "Country", "Medal", "NOC", "Rank", "Time", "Year"]

In [ ]:
df_Giant_slalom_years.drop("Unnamed: 0", 1, inplace = True)

In [86]:
df_downhill_years["Type"] = "DownHill"
df_super_g_years["Type"] = "Super G"
df_slalom_years["Type"] = "Slalom"
df_Giant_slalom_years["Type"] = "Giant Slalom"
df_combined_years["Type"] = "Combined"

In [87]:
Mens_olympic_skiing = df_downhill_years.append(df_super_g_years)

In [88]:
Mens_olympic_skiing = Mens_olympic_skiing.append(df_slalom_years)

In [89]:
Mens_olympic_skiing = Mens_olympic_skiing.append(df_Giant_slalom_years)

In [91]:
Mens_olympic_skiing = Mens_olympic_skiing.append(df_combined_years)

In [93]:
Mens_olympic_skiing["Gender"] = "Male"

In [95]:
Mens_olympic_skiing.to_csv("Mens_olympic_skiing.csv")