In [1]:
import pandas as pd
import re

In [2]:
xl = pd.ExcelFile("Opioid in Canada (1).xlsx")

In [3]:
df_Year = xl.parse("Year")
df_age = xl.parse("Age per 100,000")
df_province = xl.parse("Province")
df_type = xl.parse("Type")
df_Gender = xl.parse("Gender")

In [4]:
df_Year

,Year,Documented Diagnosis,Signficant Diagnosis,Primary Diagnosis,"per 100,000 Documented Diagnosis","per 100,000 Signficant Diagnosis","per 100,000 Signficant Diagnosis.1"
0,2014–2015,4893,4779,2231,13.8,13.5,6.3
1,2013–2014,4662,4563,2134,13.3,13.0,6.1
2,2012–2013,4669,4552,2038,13.5,13.1,5.9
3,2011–2012,4467,4342,2003,13.0,12.7,5.8
4,2010–2011,4013,3887,1777,11.8,11.5,5.2
5,2009–2010,3865,3697,1641,11.5,11.0,4.9
6,2008–2009,3536,3418,1584,10.7,10.3,4.8
7,2007–2008,3482,3357,1540,10.6,10.2,4.7

In [5]:
df_age

,Age group (years),2007–2008,2008–2009,2009–2010,2010–2011,2011–2012,2012–2013,2013–2014,2014–2015
0,65+,16.6,17.1,17.6,18.1,19.6,19.4,19.3,20.1
1,45–64,13.7,14.4,15.5,16.5,17.2,18.4,18.1,18.3
2,25–44,11.1,10.3,11.2,11.1,13.2,12.9,12.4,13.1
3,15–24,6.5,6.4,6.7,7.1,8.5,9.6,9.9,10.4
4,<15,1.4,1.4,1.3,1.4,1.4,1.6,1.7,1.8

In [6]:
df_age_long = df_age.melt(var_name='Year', value_name='Opioid_Rate', id_vars=['Age group (years)'])

In [7]:
df_age_long

   Age group (years)       Year  Opioid_Rate
0                65+  2007–2008         16.6
1              45–64  2007–2008         13.7
2              25–44  2007–2008         11.1
3              15–24  2007–2008          6.5
4                <15  2007–2008          1.4
5                65+  2008–2009         17.1
6              45–64  2008–2009         14.4
7              25–44  2008–2009         10.3
8              15–24  2008–2009          6.4
9                <15  2008–2009          1.4
10               65+  2009–2010         17.6
11             45–64  2009–2010         15.5
12             25–44  2009–2010         11.2
13             15–24  2009–2010          6.7
14               <15  2009–2010          1.3
15               65+  2010–2011         18.1
16             45–64  2010–2011         16.5
17             25–44  2010–2011         11.1
18             15–24  2010–2011          7.1
19               <15  2010–2011          1.4
20               65+  2011–2012         19.6
21             45–64  2011–2012         17.2
22             25–44  2011–2012         13.2
23             15–24  2011–2012          8.5
24               <15  2011–2012          1.4
25               65+  2012–2013         19.4
26             45–64  2012–2013         18.4
27             25–44  2012–2013         12.9
28             15–24  2012–2013          9.6
29               <15  2012–2013          1.6
30               65+  2013–2014         19.3
31             45–64  2013–2014         18.1
32             25–44  2013–2014         12.4
33             15–24  2013–2014          9.9
34               <15  2013–2014          1.7
35               65+  2014–2015         20.1
36             45–64  2014–2015         18.3
37             25–44  2014–2015         13.1
38             15–24  2014–2015         10.4
39               <15  2014–2015          1.8

In [8]:
df_age_long.to_csv("Opioid_age_long.csv")

In [9]:
df_age.to_csv("Opioid_age.csv")

In [10]:
df_province.head()

,Fiscal year,N.L.,P.E.I.,N.S.,N.B.,Que.,Ont.,Man.,Sask.,Alta.,B.C.,Territories*,Canada
0,2014–2015,12.3,15.1,11.8,14.6,10.1,12.1,10.4,19.9,17.7,19.5,12.9,13.5
1,2013–2014,10.6,12.4,10.2,14.0,10.2,12.2,10.3,13.6,16.1,19.0,13.0,13.0
2,2012–2013,9.5,11.0,11.0,14.5,9.1,13.1,11.1,16.2,15.3,19.3,13.1,13.1
3,2011–2012,8.6,9.8,9.7,13.6,9.3,12.2,12.9,17.3,14.1,18.8,15.1,12.7
4,2010–2011,8.6,3.5,9.2,15.8,8.3,10.5,8.3,15.2,15.0,17.1,17.1,11.5

In [11]:
df_province_long = df_province.melt(var_name='provinces', value_name='Opioid_Rate', id_vars=['Fiscal year'])

In [12]:
df_province_long.head()

  Fiscal year provinces  Opioid_Rate
0   2014–2015      N.L.         12.3
1   2013–2014      N.L.         10.6
2   2012–2013      N.L.          9.5
3   2011–2012      N.L.          8.6
4   2010–2011      N.L.          8.6

In [13]:
df_province_long["provinces"] = df_province_long["provinces"].str.replace("*", "")

In [14]:
df_province_long["x_1"] = 1
df_province_long["x_2"] = 2

In [15]:
df_province_long

   Fiscal year    provinces  Opioid_Rate  x_1  x_2
0    2014–2015         N.L.         12.3    1    2
1    2013–2014         N.L.         10.6    1    2
2    2012–2013         N.L.          9.5    1    2
3    2011–2012         N.L.          8.6    1    2
4    2010–2011         N.L.          8.6    1    2
5    2009–2010         N.L.          8.9    1    2
6    2008–2009         N.L.         12.1    1    2
7    2007–2008         N.L.          7.1    1    2
8    2014–2015       P.E.I.         15.1    1    2
9    2013–2014       P.E.I.         12.4    1    2
10   2012–2013       P.E.I.         11.0    1    2
11   2011–2012       P.E.I.          9.8    1    2
12   2010–2011       P.E.I.          3.5    1    2
13   2009–2010       P.E.I.          6.4    1    2
14   2008–2009       P.E.I.          8.7    1    2
15   2007–2008       P.E.I.         16.0    1    2
16   2014–2015         N.S.         11.8    1    2
17   2013–2014         N.S.         10.2    1    2
18   2012–2013         N.S.         11.0    1    2
19   2011–2012         N.S.          9.7    1    2
20   2010–2011         N.S.          9.2    1    2
21   2009–2010         N.S.          9.4    1    2
22   2008–2009         N.S.          7.4    1    2
23   2007–2008         N.S.          7.6    1    2
24   2014–2015         N.B.         14.6    1    2
25   2013–2014         N.B.         14.0    1    2
26   2012–2013         N.B.         14.5    1    2
27   2011–2012         N.B.         13.6    1    2
28   2010–2011         N.B.         15.8    1    2
29   2009–2010         N.B.         11.5    1    2
..         ...          ...          ...  ...  ...
66   2012–2013        Alta.         15.3    1    2
67   2011–2012        Alta.         14.1    1    2
68   2010–2011        Alta.         15.0    1    2
69   2009–2010        Alta.         14.7    1    2
70   2008–2009        Alta.         13.0    1    2
71   2007–2008        Alta.         11.5    1    2
72   2014–2015         B.C.         19.5    1    2
73   2013–2014         B.C.         19.0    1    2
74   2012–2013         B.C.         19.3    1    2
75   2011–2012         B.C.         18.8    1    2
76   2010–2011         B.C.         17.1    1    2
77   2009–2010         B.C.         15.9    1    2
78   2008–2009         B.C.         15.7    1    2
79   2007–2008         B.C.         15.1    1    2
80   2014–2015  Territories         12.9    1    2
81   2013–2014  Territories         13.0    1    2
82   2012–2013  Territories         13.1    1    2
83   2011–2012  Territories         15.1    1    2
84   2010–2011  Territories         17.1    1    2
85   2009–2010  Territories         17.4    1    2
86   2008–2009  Territories         14.8    1    2
87   2007–2008  Territories         14.9    1    2
88   2014–2015       Canada         13.5    1    2
89   2013–2014       Canada         13.0    1    2
90   2012–2013       Canada         13.1    1    2
91   2011–2012       Canada         12.7    1    2
92   2010–2011       Canada         11.5    1    2
93   2009–2010       Canada         11.0    1    2
94   2008–2009       Canada         10.3    1    2
95   2007–2008       Canada         10.2    1    2

[96 rows x 5 columns]

In [16]:
df_province_long.drop(['x_1', 'x_2'], 1, inplace = True)

In [17]:
df_province_wide = df_province_long.pivot_table(index = "provinces", columns = "Fiscal year", values = "Opioid_Rate").reset_index()

In [18]:
df_province_wide["x_1"] = 1
df_province_wide["x_2"] = 2

In [19]:
df_province_wide["difference_2007_2015"] = df_province_wide["2014–2015"] - df_province_wide["2007–2008"]

In [36]:
df_province_wide = df_province_wide.sort_values(by = "2014–2015", ascending = True)
df_province_wide

Fiscal year,provinces,2007–2008,2008–2009,2009–2010,2010–2011,2011–2012,2012–2013,2013–2014,2014–2015,x_1,x_2,difference_2007_2015
9,Que.,7.9,8.1,8.1,8.3,9.3,9.1,10.2,10.1,1,2,2.2
3,Man.,10.0,9.0,9.0,8.3,12.9,11.1,10.3,10.4,1,2,0.4
6,N.S.,7.6,7.4,9.4,9.2,9.7,11.0,10.2,11.8,1,2,4.2
7,Ont.,9.6,9.4,10.3,10.5,12.2,13.1,12.2,12.1,1,2,2.5
5,N.L.,7.1,12.1,8.9,8.6,8.6,9.5,10.6,12.3,1,2,5.2
11,Territories,14.9,14.8,17.4,17.1,15.1,13.1,13.0,12.9,1,2,-2.0
2,Canada,10.2,10.3,11.0,11.5,12.7,13.1,13.0,13.5,1,2,3.3
4,N.B.,8.6,7.4,11.5,15.8,13.6,14.5,14.0,14.6,1,2,6.0
8,P.E.I.,16.0,8.7,6.4,3.5,9.8,11.0,12.4,15.1,1,2,-0.9
0,Alta.,11.5,13.0,14.7,15.0,14.1,15.3,16.1,17.7,1,2,6.2
1,B.C.,15.1,15.7,15.9,17.1,18.8,19.3,19.0,19.5,1,2,4.4
10,Sask.,14.6,11.7,13.5,15.2,17.3,16.2,13.6,19.9,1,2,5.3

In [37]:
df_province_wide.to_csv("opioid_province.csv")

In [22]:
df_Gender

,Gender,2007–2008,2008–2009,2009–2010,2010–2011,2011–2012,2012–2013,2013–2014,2014–2015
0,Female,11.3,11.4,11.9,12.4,13.7,13.9,14.0,14.2
1,Male,9.1,9.2,10.1,10.5,11.6,12.4,12.1,12.8

In [23]:
df_type

,Opioid poisoning type (ICD-10-CA code),2007–2008,2008–2009,2009–2010,2010–2011,2011–2012,2012–2013,2013–2014,2014–2015
0,Other opioids (T40.2),5.8,6.0,6.6,7.0,7.8,7.8,7.8,8.2
1,Unspecified/other opioids (T40.6),3.0,2.8,2.8,2.8,3.0,3.1,2.9,2.9
2,Methadone (T40.3),0.9,1.0,1.0,1.0,1.2,1.4,1.2,1.2
3,Synthetic opioids (T40.4),0.5,0.5,0.7,0.7,0.7,0.9,0.9,0.8
4,Heroin (T40.1),0.3,0.3,0.2,0.4,0.4,0.5,0.5,0.8
5,Opium alkaloids (T40.0),0.0,0.0,0.0,0.0,0.0,0.1,0.0,0.0

In [24]:
x2 = pd.ExcelFile("Opioid Prescriptions.xlsx")

In [25]:
df_age_p = x2.parse("Sheet2")
df_province_p = x2.parse("Provinces")

In [26]:
df_age_p.head()

        Age groups  2011–2012  2012–2013  2013–2014  2014–2015  2015–2016
0  Younger than 15      20262      18957      15627      13280      11627
1         15 to 24      91971      89513      87367      84673      81598
2         25 to 44     241414     237525     233722     229956     224441
3         45 to 64     330212     330472     331677     330184     326385
4              65+     214377     222444     229283     238111     243227

In [27]:
df_province_p["x_1"] = 1
df_province_p["x_2"] = 2

In [28]:
df_province_p["difference"] = df_province_p[2016] - df_province_p[2012]

In [40]:
df_province_p = df_province_p.sort_values(by = 2016)
df_province_p

   Province  2012  2013  2014  2015  2016  x_1  x_2  difference
4      Que.  3656  3649  3688  3707  3697    1    2          41
9      B.C.  7278  7020  6615  6277  5538    1    2       -1740
10   Canada  6858  6748  6697  6546  6246    1    2        -612
1    P.E.I.  6908  6880  7026  7081  7015    1    2         107
2      N.S.  7740  7884  7898  7529  7068    1    2        -672
7     Sask.  7059  7038  7184  7052  7082    1    2          23
5      Ont.  8070  7840  7758  7533  7093    1    2        -977
3      N.B.  6927  7156  7370  7406  7357    1    2         430
6      Man.  7752  7690  7728  7447  7400    1    2        -352
8     Alta.  8252  8240  8262  8184  8006    1    2        -246
0      N.L.  7003  7354  7804  8114  8159    1    2        1156

In [41]:
df_province_p.to_csv("Opioid_prescriptions_provinces.csv")