In [2]:
import pandas as pd
%matplotlib inline
xls = pd.ExcelFile("SubwayDelay2014-2016.xlsx")
subway_delays = xls.parse('Incidents')

In [3]:
subway_delays.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle
0,2014-01-01,00:21,Wednesday,VICTORIA PARK STATION,MUPR1,55,60,W,BD,5111
1,2014-01-01,02:06,Wednesday,HIGH PARK STATION,SUDP,3,7,W,BD,5001
2,2014-01-01,02:40,Wednesday,SHEPPARD STATION,MUNCA,0,0,NaN,YU,0
3,2014-01-01,03:10,Wednesday,LANSDOWNE STATION,SUDP,3,8,W,BD,5116
4,2014-01-01,03:20,Wednesday,BLOOR STATION,MUSAN,5,10,S,YU,5386

In [6]:
subway_delays["Year"] = subway_delays["Date"].astype(str).str.split("-", 3, expand = True)[0]

In [7]:
subway_delays.head()

,Date,Time,Day,Station,Code,Min Delay,Min Gap,Bound,Line,Vehicle,Year
0,2014-01-01,00:21,Wednesday,VICTORIA PARK STATION,MUPR1,55,60,W,BD,5111,2014
1,2014-01-01,02:06,Wednesday,HIGH PARK STATION,SUDP,3,7,W,BD,5001,2014
2,2014-01-01,02:40,Wednesday,SHEPPARD STATION,MUNCA,0,0,NaN,YU,0,2014
3,2014-01-01,03:10,Wednesday,LANSDOWNE STATION,SUDP,3,8,W,BD,5116,2014
4,2014-01-01,03:20,Wednesday,BLOOR STATION,MUSAN,5,10,S,YU,5386,2014

In [8]:
subway_delays["Year"].value_counts()

2015    21474
2016    21162
2014    20424
Name: Year, dtype: int64

In [10]:
subway_delays.groupby("Line")["Year"].value_counts()

Line                 Year
104 FAYWOOD          2015        1
116 MORNINGSIDE      2016        1
126 CHRISTIE         2015        1
25 DON MILLS         2015        1
29 DUFFERIN          2016        1
31 GREENWOOD         2014        1
341 KEELE            2016        1
36 FINCH WEST        2015        1
37 ISLINGTON         2015        1
45 KIPLING           2014        1
500                  2015        1
504                  2015        1
504 KING             2016        1
510 SPADINA          2016        1
555                  2015        1
60                   2014        1
60 STEELES WEST      2015        1
66                   2016        1
73 ROYAL YORK        2016        1
9 BELLAMY            2014        1
95 YORK MILLS        2015        1
BD                   2015    10977
                     2016    10627
                     2014     8859
BD LINE              2014        1
                     2016        1
BD/YU                2016        2
BD/YUS               2014        4
                     2015        1
BLOOR DANFORTH       2014        1
BLOOR DANFORTH LINE  2016        1
SHEPPARD             2015        1
SHP                  2016      885
                     2015      669
                     2014      663
SRT                  2015      826
                     2014      803
                     2016      620
YU                   2014    10006
                     2015     8794
                     2016     8741
YU/BD                2016      194
                     2015       84
YU/SHEP              2016        1
Name: Year, dtype: int64